.App {
  text-align: center;
  height: 100%;
  display: flex;
}



@media(min-width: 548px) {
  .container {
    margin-top: 64px;
    height: 100%;
    width: 100%;
  }
}
.container {
  margin-top: 64px;
  height: 100%;
  width: calc(100% - 73px);
}



